.snippet_container {
	position: relative; 
	float: left; 
	margin: 10px; 
	text-align: left; 
	border-radius: 4px;
	width: 750px;
	height: 350px;
	clear:both;
	overflow: auto;
	background-color: white !important;
}

#snippets_header {
	background: whitesmoke;
	width: 100%;
	border-bottom: 1px solid #2c3e50;
	padding: 20px;
	text-align: left;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 24px;
}


.snippet_container pre, .snippet_container pre code{
	background-color: white !important;
}

.snippet_header {

	position:relative;
	float:left;
	clear:both;
	width:100%;
	margin-bottom:10px;
	border-bottom: 1px solid #2c3e50;

	padding: 10px 0px 10px 0px;
	text-align: center;
}
